{% extends 'base.html.twig' %}

{% block title %}New BasketContent{% endblock %}

{% block body %}
    <h1>Create new BasketContent</h1>

    {{ include('basket_content/_form.html.twig') }}

    <a href="{{ path('app_basket_content_index') }}">back to list</a>
{% endblock %}
